# Ignore files in directories containing compiled files
exe/*
obj/*

# TeX files
## Source
*.tex
## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
## Intermediate documents:
*.dvi
*-converted-to.*
*.ps
*.eps
*.pdf
